h2.intro {
  font-style: italic;
  color: green;
  font-family: helvetica;
}

p.intro {
  font-family: helvetica;
  font-size: 15;
  color: gray;
}

img.intro {
  image-orientation: right;
  image-size: 30px;
}
